form{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin-top: 100px;
    width: 30%;
    padding: 2%;
    border-radius: 10px;
}
form>input{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
}
.BUTTON{
    width: 30%;
    margin: auto;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    font-size: 25px;
    border-radius: 10px;
    background-color: rebeccapurple;
    color: white;
}